body {
  background-color: #f6f6f6;
}

.players-container {
  max-width: 1280px;
  margin: auto;
  background: white;
  padding: 28px;
  margin-top: 28px;
}

.players-table {
  width: 90%;
  text-align: left;
  border-spacing: 12px;
  margin-bottom: 24px;
}
